.contenedor {
    margin-top: 50px;
    margin-right: 30%;
    margin-left: 30%;
}

.todoListaPardo {
    border: 8px dashed #7e3a84;
}

.tituloGeneral {
    color: #2d1414;
    text-align: center;
}

.creacionTareas {
    margin-top: 40px;
}

.creacionTareas label {
    margin-right: 10px;
}

#campoNuevaTarea{
    margin-right: 15px;
}

input[type="text"] {
    width: 300px; /* Ancho del input */
    padding: 10px; /* Espaciado interno del input */
    margin: 5px 0; /* Margen exterior del input */
    border: 2px solid #ddd; /* Borde del input */
    border-radius: 4px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño del texto */
    background-color: #f8f8f8; /* Color de fondo */
}

input[type="text"]:focus {
    border-color: #888; /* Cambia el color del borde cuando el input está enfocado */
    background-color: #eaeaea; /* Cambia el color de fondo cuando el input está enfocado */
}

input[type="submit"] {
    padding: 10px 15px;
    background-color: #7e3a84;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #66236c; /* Cambia el color al pasar el ratón por encima */
}

.contenedor h2 {
    margin-top: 50px;
}

.tareasActuales {
    display: flex;
    align-items: center;
}


.botonBorrar {
    margin-right: 10px;
    font-family: 'Poppins', sans-serif;
}

footer {
    margin-top: 10%;
    text-align: center;
}

.social-bar {
    text-align: center;
    padding: 10px 0; /* Ajusta el padding según necesites */
}

.social-icon {
    margin: 0 10px; /* Espacio horizontal entre iconos */
    color: #333; /* Color de los iconos */
    text-decoration: none;
    display: inline-block;
}

.tareasActuales {
    margin-top: 15px;
} 

.tachado {
    color: #333;
    text-decoration: line-through; /* Aplica el efecto de tachado */
}


.social-icon i {
    font-size: 24px; /* Tamaño de los iconos */
    transition: color 0.3s;
}

.social-icon:hover {
    color: #4e0c55; /* Color al pasar el mouse por encima */
}

.checkbox-container {
    display: inline-block;
    margin-left: 10px;
}

.checkbox-label {
    display: inline-block;
    width: 25px; /* Tamaño del checkbox */
    height: 25px; /* Tamaño del checkbox */
    background-color: #f2f2f2; /* Color de fondo del checkbox */
    border-radius: 5px; /* Bordes redondeados */
    transition: all 0.3s; /* Transición suave para cambios de estilo */
    cursor: pointer;
    position: relative;
}

input[type="checkbox"]:checked + .checkbox-label {
    background-color: #7e3a84; /* Color de fondo cuando está marcado */
}

input[type="checkbox"]:checked + .checkbox-label:after {
    content: '';
    position: absolute;
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
