.contenedor {
    margin-top: 50px;
    margin-right: 30%;
    margin-left: 30%;
}

.todoListaPardo {
    border: 8px dashed #7e3a84;
}

.tituloGeneral {
    color: #2d1414;
    text-align: center;
}

.creacionTareas {
    margin-top: 40px;
}

.creacionTareas label {
    margin-right: 10px;
}

#campoNuevaTarea{
    margin-right: 15px;
}

input[type="text"] {
    width: 300px; /* Ancho del input */
    padding: 10px; /* Espaciado interno del input */
    margin: 5px 0; /* Margen exterior del input */
    border: 2px solid #ddd; /* Borde del input */
    border-radius: 4px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño del texto */
    background-color: #f8f8f8; /* Color de fondo */
}

input[type="text"]:focus {
    border-color: #888; /* Cambia el color del borde cuando el input está enfocado */
    background-color: #eaeaea; /* Cambia el color de fondo cuando el input está enfocado */
}

input[type="submit"] {
    padding: 10px 15px;
    background-color: #7e3a84;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #66236c; /* Cambia el color al pasar el ratón por encima */
}

.contenedor h2 {
    margin-top: 50px;
}

.tareasActuales {
    display: flex;
    align-items: center;
}

.botonEditar {
    background-color: #7e3a84;
    color: white;
    border: none;
    cursor: pointer;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 8px;
    margin-left: 10px;
    border-radius: 3px;
}

.botonEditar i {
    /* Espacio entre el ícono y el texto */
    margin-right: 5px;
}


.botonBorrar {
    margin-left: 20px;
    font-family: 'Poppins', sans-serif;
}

footer {
    margin-top: 10%;
    text-align: center;
}

.social-bar {
    text-align: center;
    padding: 10px 0; /* Ajusta el padding según necesites */
}

.social-icon {
    margin: 0 10px; /* Espacio horizontal entre iconos */
    color: #333; /* Color de los iconos */
    text-decoration: none;
    display: inline-block;
}

.social-icon i {
    font-size: 24px; /* Tamaño de los iconos */
    transition: color 0.3s;
}

.social-icon:hover {
    color: #4e0c55; /* Color al pasar el mouse por encima */
}
