<div class="contenedor">
    <div class="todoListaPardo">
        <h1 class="tituloGeneral">
            Pardo's To-Do List 
        </h1>     
    </div>
    <div class="contenedorAgregarTareas">
        <form class="creacionTareas" (ngSubmit)="addTask()">
            <label for="campoNuevaTarea">Nueva Tarea:</label>
            <input type="text" id="campoNuevaTarea" name="campoNuevaTarea" [(ngModel)]="titleNewTask" required>
            <input type="submit" value="+">
        </form>  
    </div>
    <h2>Lista de Tareas:</h2>
    <div class="tareasActuales" *ngFor="let task of tasks">
        <p>{{task.title}}</p>
        <input type="submit" class="botonBorrar" value="-">
        <button type="submit" class="botonEditar"><i class="fas fa-pencil-alt"></i></button>
    </div>
</div>



